header {
    color: black;
    text-align:center;
    padding:10px;
    font-variant:small-caps;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.search-bar {
    padding: 10px;
    float: center;
    margin-top: 10px;
    margin-left: 10px;
}

.fancy{font-family: cursive;}
.pink {color: pink;}

.c {
    display: inline-block;
    background-color: #BCAAA0;
    text-align:center;
    border-radius:4px;
    width: 500px;
    margin: 50px;
    border:1px solid darkgrey;
}

#browse {
    text-align: center;
    margin-bottom: 50px;
}

.word {
    font-size: medium;
}

p {
    font-family: Bradley Hand;
}
