li {
    float: right;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111111;
}

.search-bar {
    padding: 10px;
    float: center;
    margin-top: 10px;
    margin-left: 10px;
}

.main{
    margin: 50px 50px 75px 100px;
}

#select{
    text-align: center;
    box-sizing: border-box;
    display: block;
}

.Event{
    display: inline-block;
    border: none;
    font-size: larger;
    border-radius: 20px;
    width: 15%;
    height:40px;
    cursor: pointer;
    opacity: 0.8;
    font-variant: small-caps;
    font-family: American Typewriter;
    font-size: 25px;
    color: white;
    margin: 40px 80px 40px 80px;
}

.Event:hover {opacity: 1}

#e1 {
    /*left: 50%;
    top: 50%;
    position: absolute;*/
    background-color:#6f657c;
}

#e2 {
    /*eft: 58%;
    top: 75%;
    position: absolute;*/
    background-color: #c884a8;
}

#e3 {
    /*left: 66%;
    top: 100%;
    position: absolute;*/
    background-color: #bfcbe5;
}

.image {
    float: left;
    width: 100%;
}

.bottom-nav{
    font-size: medium;
}

.icon{
    text-align: center;
    font-size: 36px;
}

.search-bar input{
    height: 20px;
    width: 175px;
}

.top-menu{
    background-color:#5F4842;
    padding: 20px 10px;
}

.top-menu a:hover {
    color:rgb(247, 202, 209);
    font-size: 150%;
}

.bar-menu {
    float: right;
    margin-right: 16px;
    font-size: 17px;
    text-decoration: none;
    color:white;
}

#image{
    width:50px; 
    height:50px; 
    border-radius:50%; 
}

.bottom-nav a{
    color:white;
    font-size: medium;
}

.icon{
    text-align: center;
    font-size: 30px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #5F4842;
    color: white;
}

.back {
    background-color: #FDDDDF;
    padding-bottom: 20px;
}

#name {
    text-align:left; 
    font-size:200%;
}

#des {
    font-size: 20px;
    font-family: Bradley Hand;
}

/* 滚动猫猫头 */
.container .box {

    width: 100%;
    height:800px;
    background: #000;
    background-position:center;
    transition: ease-in-out 15s;

}
.container .box.box1{

background: url(main.jpg);
background-size: 100%;
float:center;

margin-top:3%;

}

.container .box:hover {
    background-position:bottom;
}